:root {
	--white: rgb(255, 255, 255);
	--black: rgb(25, 25, 25);

  /* pixel art */
  --outline-pxl: #016063;
  --outline-light-pxl: #068A90;
  --main-pxl: #00E2BA;
  --highlight-pxl: #20FAE4;
  --shadow-pxl: #11AB9F;
  --small-shadow-pxl: #038B8D;

  /* charms */
  --fish: #FF3E48;

  /* control pannel */
  	--grey: rgb(208, 208, 208);
  	--light-grey: rgb(227, 227, 227);
  	--screen: #109394;
  	--window: #065F62;
	--btn: #78E2E6;
    --interface-color-start: #B6C4CD; 
    --interface-color-end: #808b92; 
	--light: #86fbff;
	--glow: #0ff;

	/* glass btns */
	--clr-one: rgb(141, 248, 219);
	--clr-two: rgb(0, 255, 183);
	--clr-three:  rgb(0, 177, 121);

	/* btn hover */
	--clr-one-hover: rgb(104, 255, 215) ;
	--clr-two-hover: rgb(0, 184, 132);
	--clr-three-hover: rgb(0, 116, 79);

	/* theme clr change based on config */
	--theme: normal;
	--animation-clr: rgb(0, 208, 0);

	/* play state */
	--playstate-flag: play;
}

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Pixelify Sans", sans-serif;
	background-color: var(--black);
	overflow-y: hidden;
	overflow-x: hidden;
}

main {
	display: grid;
	justify-content: center;
	place-items: center;
	height: 100vh;
}

article {
	position: relative;
	margin-top: 10em;
}

h1 {
	top: 30px;
	color: var(--white);
}

h1 > span {
	/* display: block; */
	font-size: 2em;
	color: rgb(0, 255, 60);
	animation: --sensational-type linear 20s infinite;
	animation-delay: calc(1s * sibling-index());
}

h2 {
	font-weight: 100;
}

section > section {
	display: grid;
	align-items: center;
	grid-template-columns: 66% 34%;
}

/* all the other buttons */
section {
	position: relative;
	display: grid;
    width: 600px;
    height: 200px;
    background: var(--grey);
    background: linear-gradient(0deg, var(--interface-color-start) 10%, var(--interface-color-end) 100%);
	border-radius: 0 100px 100px 0;
    form:nth-child(2) {
        display: grid;
		position: relative;
		gap: 10px;
		margin-top: 25px;
    }
}

fieldset {
	display: flex;
    background-color: var(--light-grey);
    border: none;
	padding: 10px;
    border-radius: 25px;
    width: 140px;
    box-shadow: 0 0 5px #00000078, 0 4px 5px #ffffff87;
    legend {
        display: none;
    }
    label {
		display: flex;
		align-items: center;
		justify-content: center;
        margin: 0 5px;
        box-shadow: 0 0 5px #00000078, 0 4px 5px #ffffff87;
        border-radius: 25px;
		width: 50px;
		height: 25px;
		position: relative;
		border: 1px solid rgb(0, 110, 83);
		&:hover {
			cursor: pointer;
		}
		&::before { 
			content: "";
			position: absolute;
			inset-block-start: 5%;
			inset-inline: 5%;
			height: 50%;
			border-radius: 10px 10px 0 0; 
			background: linear-gradient(#fff, #fff2);
		}
    }
    input {
        display: none;
    }
}

/* tab */
header {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 200px;
	color: var(--white);
	height: 45px;
	width: 515px;
	border-radius: 20px 0 0 0;
	background-color: var(--window);
}

/* SCREEN */
dl:not(dl dl) {
	list-style: none;
	width: 350px;
    height: 120px;
	background-color: var(--screen);
	border-radius: 15px;
	margin: 0 0 20px 20px;
	display: grid;
    justify-items: center;
  	template-columns: repeat(auto-fill, 200px);
	text-align: center;
	align-items: center;
	box-shadow: 0 0 5px #000000ae, 0 4px 5px #ffffff90;
	position: relative;
}

dl:not(dl dl)::after {
	content: "";
	position: absolute;
	top: 3px;
    width: 344px;
    height: 60px;
	border-radius: 10px;
	background-image: linear-gradient(to top, transparent, rgb(255 255 255 / 48%));
}


dd {
	color: var(--white);
}

section dl dd {
	grid-area: 1;
}

section dl dd:nth-child(1) > dl > dd {
    color: var(--white);
    font-size: 3em;
}

section dl dd:nth-child(1) > dl > dt {
	background-color: var(--white);
	color: var(--screen);
	width: 50px;
	font-size: 20px;
}

/* wave */

/* section dl dd:nth-of-type(2) {
	background-color: red;
} */


/* section dl dd:nth-child(2) > dl > dd {
	background-color: red;
	font-family: "Linefont", system-ui;
	animation: wa 20s linear;
} */
/* @keyframes wa {
	0% {
		margin-left: 10px;
	}
	100% {
		margin-left: 500px;
	}
} */

/* globe */
@function --rotate-globe(--amt, --idx) {
  result: rotateY(calc((360 / var(--amt)) * var(--idx) * 1deg));
}

section dl dd:nth-child(3) > dl > dd > dl {
	display: grid;
	place-items: center;
	perspective: 1000px;
	transform-style: preserve-3d;
	animation: --rotatedeco 15s linear infinite;
}

section dl dd:nth-child(3) > dl > dd > dl > dd {
	grid-area: 1/1;
  	width: 70px;
	margin-top: 5px;
  	aspect-ratio: 1;
  	border: 1px solid white;
  	border-radius: 100px;

	&:nth-child(1) {
		transform: --rotate-globe(sibling-count(), sibling-index());
	}
	&:nth-child(2) {
		transform: --rotate-globe(sibling-count(), sibling-index());
	}
	&:nth-child(3) {
		transform: --rotate-globe(sibling-count(), sibling-index());
	}
	&:nth-child(4) {
		transform: --rotate-globe(sibling-count(), sibling-index());
	}
	&:nth-child(5) {
		transform: --rotate-globe(sibling-count(), sibling-index());
	}
}

/* last deco item screen */
section dl dd:nth-child(4) > dl > dd {
	text-align: right;
}

section dl dd:nth-child(4) > dl > dd:nth-child(5) {
	position: relative;
	background-color: var(--white);
	width: 7px;
	height: 10px;
	margin-left: 10px;
	&::before {
		content: "";
		right: 0px;
		position: absolute;
		width: 7px;
		height: 15px;
		background-color: var(--white);
		margin-right: 9px;
	}
	&::after {
		content: "";
		position: absolute;
		width: 7px;
		height: 5px;
		background-color: var(--white);
		margin-left: 2px;
	}
}

/* turn knob */
form:nth-child(2) label:nth-child(4) {
	position: absolute;
	right: 30px;
	background-color: var(--light-grey);
	border-radius: 50px;
	width: 70px;
	aspect-ratio: 1;
	box-shadow: 0 0 5px #000000ae, 0 4px 5px #ffffff90;
	input[type="range"] {
	    position: absolute;
	    opacity: 0;
	    margin: 0;
   }
   > div {
		position: absolute;
		left: 50%;
		top: 70%;
		width: 10px;
        height: 10px;
		border-radius: 10px;
		background: var(--btn);
		cursor: pointer;
   }
}

/* two bottom buttons */
aside
{	position: absolute;
	left: 0;
	top: 180px;
    background: var(--grey);
	background: linear-gradient(180deg, var(--interface-color-start) 60%,  var(--interface-color-end) 100%);
	width: 200px;
	height: 75px;
	border-radius: 0 0 30px 10px;
    form {
        display: flex;
        justify-content: center;
    }
}

form:nth-child(2) label:nth-child(1) {
    background-color: var(--btn);
	background:  radial-gradient(circle at 45% 90%, var(--clr-one) 10px, var(--clr-two) 41%, var(--clr-three) 62%);
	padding: 5px;
	width: 45px;
	text-align: center;
	border-radius: 40px;
	box-shadow: 0 0 5px #0000007c, 0 4px 5px #ffffff87;
	position: relative;
	border: 2px solid rgb(0, 110, 83);
	&:hover {
		cursor: pointer;
	}
    input {
        display: none;
    }
	&::before { 
		content: "";
		position: absolute;
		inset-block-start: 5%;
		inset-inline: 5%;
		height: 50%;
		border-radius: 10px 10px 0 0; 
		background: linear-gradient(#fff, #fff2);
	}
}

/* 
input[type="radio"]:checked label {
    background-color: rgb(255, 0, 0);
} */

mark {
    background-color: transparent;
	font-size: 12px;
}

mark::after {
    content: "";
    display: inline-block;
    margin-left: 13px;
    width: 7px;
    aspect-ratio: 1;
    border-radius: 10px;
    background-color: var(--light);
	box-shadow:
		0 0 30px 3px var(--white),
		0 0 10px 1px var(--glow);
}

mark:nth-child(3)::after
{ 
	margin-left: 42px;
}

aside label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;

	margin: 0 10px;
	padding: 10px;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 55px;
	aspect-ratio: 1;

	position: relative;
	border-radius: 55px;
	border: 2px solid rgb(0, 110, 83);
	background: radial-gradient(circle at 45% 90%, var(--clr-one) 10px, var(--clr-two) 41%, var(--clr-three) 62%);
	box-shadow: 0 0 5px #000000, 0 4px 5px #ffffff;
	&:hover {
		cursor: pointer;
		background: radial-gradient(circle at 45% 90%, var(--clr-one-hover) 10px, var(--clr-two-hover), var(--clr-three-hover) 62%);

	}
    input {
        display: none;
    }
}

aside label::before { 
	content: "";
	position: absolute;
	inset-block-start: 5%;
	inset-inline: 5%;
	height: 50%;
	border-radius: 52% 48% 6% 8% / 75% 73% 18% 16%;
	background: linear-gradient(#fff, #fff2);
}

section ul:nth-child(1) > li:nth-child(1) {
	aspect-ratio: 2/1;
	font-size: 20px;
	color: var(--screen);
	background-color: var(--white);
	width: 50px;
}

section > section ul:nth-child(1) > li {
	border-radius: 0;
	background-color: transparent;
}


/* chain */
ul li {
	margin: 0;
	padding: 0;
}

ul:nth-of-type(1) > li, ul:nth-of-type(2) > li {
	width: 10px;
	aspect-ratio: 1;
	background-color: var(--grey);
	border-radius: 10px;
	list-style-type: none;
}

/* pos of chain */
article > ul:nth-of-type(1) {
	position: relative;
    right: 0;
    top: 0px;
}

article > ul:nth-of-type(2) {
	position: relative;
    left: 375px;
    bottom: 130px;
}

/* charms */
article > ul:nth-of-type(1) > li:last-child {
	position: relative;
	background-color: var(--black);
    top: 0;
	right: 37px;
	:first-child, :nth-child(2), :nth-child(3), :nth-child(4), :nth-child(5), :nth-child(6), :last-child {
		position: absolute;
	}

	:first-child, :nth-child(2)
	{
		z-index: 1;
		aspect-ratio: 1;
		background-color: rgb(0, 0, 0);
		width: 7px;
		top: 33px;
	}

	:nth-child(3), :nth-child(4) {
		z-index: 1;
		top: 45px;
		background-color: rgb(0, 0, 0);
		width: 3px;
		height: 15px;
	}

	:nth-child(5), :nth-child(6)
	{
        top: -33px;
		border-radius: 50px;
		background-color: var(--white);
		height: 80px;
        width: 30px;
	}

	:first-child {
		left: 55px;
	}

	:nth-child(2) {
		left: 20px;
	}

	:nth-child(3) {
		transform: rotateZ(305deg);
	}

	:nth-child(4) {
		transform: rotateZ(55deg);
	}

	:nth-child(5) {
		left: 53px;
	}

	:nth-child(6) {
        left: 2px;
	}

	:last-child {
		top: 0;
		left: 0;
		background-color: var(--white);
		width: 85px;
		height: 75px;
		border-radius: 100px;
	}
}

article > ul:nth-of-type(2) > li:last-child > ul {
	position: relative;
    top: 0;
	right: 68px;
	:nth-child(3), :nth-child(4) {
		position: absolute;
		background-color: var(--fish);
		width: 30px;
		aspect-ratio: 1/1;
		left: 110px;
	}

	:first-child {
		position: absolute;
		top: 10px;
		left: 50px;
		background-color: rgb(0, 0, 0);
		width: 7px;
		aspect-ratio: 1;
	}

	:nth-child(2)
	{
		background-color: var(--fish);
		width: 70px;
		aspect-ratio: 2/1;
		border-radius: 100px;
	}

	:nth-child(3)
	{
		border-radius: 50px 0;
		bottom: 16px;

	}
	:last-child
	{
		border-radius: 0 50px;
		top: 16px;
	}
}

/* config */
body:has(input[value="pink"]:checked) {
	--theme: red;
	--window:  #ff06ac;
	--screen: #ff06ac;

	--clr-one: rgb(248, 141, 236);
	--clr-two: rgb(255, 0, 166);
	--clr-three:  rgb(177, 0, 62); 

}

body:has(input[value="blue"]:checked) {
	--theme: blue;
	--window: rgb(0, 0, 255);
	--screen: blue;

	--outline-pxl: #005eff;
	--outline-light-pxl: #0092f4;
	--main-pxl: #0091ff;
	--highlight-pxl: #2094fa;
	--shadow-pxl: #1578cf;
	--small-shadow-pxl: #1466ad;

	--btn: #5699ff;
	--light: #001aff;
	--glow: blue;

	--clr-one: rgb(81, 212, 255);
	--clr-two: rgb(33, 141, 255);
	--clr-three: rgb(0, 102, 255); 
}

/* checkbox */
body:has([value="arrow-r"]:checked)
{
	background-image:
		repeating-conic-gradient(
			at
				calc(var(--element-mouse-x, .5) * 100%) 
				calc(var(--element-mouse-y, .5) * 100%),
			crimson 0%,
			darkorange 5%,
			gold 8%,
			yellowgreen 12%,
			dodgerblue 15%,
			purple 18%,
			crimson 20%
		);
}

/* 
body:has([value="arrow-r"]:checked) label:nth-child(4) {
	background: radial-gradient(circle at 0%, rgb(255 241 176) 15px, rgb(255 158 0) 25%, rgb(255 60 0) 100%);
} */

/* background */
	ol {
		display: grid;
		grid-area: 1;
		position: absolute;
		z-index: -2;
		--size: 250px;
		list-style: none;
		margin: 0 auto;
		padding: 10px;
		transform-style: preserve-3d;
		perspective: 10em;
	}

	ol li {
		grid-area: 1/1;
		width: var(--size);
		aspect-ratio: 1;
		animation-iteration-count: 1;
		animation-timing-function: linear;
		animation-delay: calc(2ms * sibling-index());
	}

	/* 
	ol li ol {
	--size: calc(var(--size) + 100px);
	} */


	details {
		z-index: 1;
		position: absolute;
		right: 85px;
		text-align: center;
		background-color: var(--window);
		color: var(--white);
		width: 125px;
		height: 35px;
		border-radius: 0 0 20px 20px;
	}

	details > details {
		position: revert;
		color: var(--black);
		background-color: var(--grey);
		text-align: left;
	}

	details > summary {
	list-style: none;
	}

	summary::-webkit-details-marker {
	display: none
	}

	summary::after {
	content: '▼';
	margin-left: 10px;
	}

	details[open] {
		color: var(--black);
		background-color: rgb(203, 203, 203);
		height: 75px;
	}

@media (min-width: 500px) {
	ul:nth-child(2)
	{
	    left: 298px;
        top: -187px;
	}

	ul:nth-child(3)
	{
	    left: 317px;
        bottom: 322px;
	}
}
