:root {
	--grey: rgb(208, 208, 208);
}

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(112, 187, 216);
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

button {
	width: 80px;
	aspect-ratio: 1;
	position: relative;
	background: radial-gradient(at 53% 114%, rgb(100, 203, 251) 15px, rgb(0, 140, 255) 50%, rgb(0, 76, 255) 62%);
	color: white;
	padding: 10px;
	border-radius: 55px;
	border: 2px solid rgb(0, 0, 182);
	font-size: 24px;
	font-weight: bold;
	&:hover {
		cursor: pointer;
		background: radial-gradient(at 53% 114%, rgb(128, 215, 255) 15px, rgb(70, 172, 255) 50%, rgb(0, 73, 245) 62%);
	}
}

button:nth-child(3) {
	background: radial-gradient(at 53% 114%, rgb(209 156 255) 15px, rgb(110 0 255) 50%, rgb(40 0 255) 62%);
}

button:nth-child(4) {
	background: radial-gradient(at 53% 114%, rgb(255, 171, 126) 15px, rgb(255, 94, 0) 50%, rgb(197, 46, 0) 62%);
	border: 2px solid rgb(150, 0, 0);
}

button::before { 
	content: "";
	position: absolute;
	inset-block-start: 5%;
	inset-inline: 5%;
	height: 50%;
	border-radius: 52% 48% 6% 8% / 75% 73% 18% 16%;
	background: linear-gradient(#fff, #fff2);
}

section {
    width: 320px;
    height: 270px;
	border-radius: 39% 61% 76% 24% / 61% 31% 69% 39%;
	background-color: var(--grey);
	box-shadow: inset 0 0 30px #a4a4a4;
}

section ul:nth-child(1) {
	margin: 40px 0 10px 0;
	gap: 10px;
	grid-column: 1/-1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 41px;
    left: 25px;
	box-shadow: inset 0 0 10px #000000;
	border-radius: 39% 61% 76% 24% / 61% 31% 69% 39%;
	background-color: rgb(0, 38, 255);
	width: 261px;
    height: 112px;
}


section ul > li {
	font-family: "Bitcount Prop Double", Arial;
	color: #ffffff;
	font-size: 3em;
	list-style: none;
}

section ul:nth-child(2)
{
	display: grid;
	grid-auto-columns: 40px 40px 40px;
	li {

		background-color: #000000;
		width: 4px;
		aspect-ratio: 1;
		margin: 10px;
	}
}

ul:nth-child(2) li, ul:nth-child(3) li {
	width: 10px;
	aspect-ratio: 1;
	background-color: var(--grey);
	border-radius: 10px;
	list-style-type: none;
}

ul:nth-child(2) > li > ul {
	position: relative;

	:first-child, :nth-child(2), :nth-child(3), :nth-child(4), :nth-child(5), :nth-child(6), :last-child {
		position: absolute;
	}

	:first-child, :nth-child(2)
	{
		z-index: 1;
		aspect-ratio: 1;
		background-color: rgb(0, 0, 0);
		width: 7px;
		top: 33px;
	}

	:nth-child(3), :nth-child(4) {
		z-index: 1;
		top: 45px;
		background-color: rgb(0, 0, 0);
		width: 3px;
		height: 15px;
	}

	:nth-child(5), :nth-child(6)
	{
        top: -33px;
		border-radius: 50px;
		background-color: rgb(244, 244, 244);
		height: 70px;
        width: 30px;
	}

	:first-child {
		left: 55px;
	}

	:nth-child(2) {
		left: 20px;
	}

	:nth-child(3) {
		transform: rotateZ(305deg);
	}

	:nth-child(4) {
		transform: rotateZ(55deg);
	}

	:nth-child(5) {
		left: 53px;
	}

	:nth-child(6) {
        left: 2px;
	}

	:last-child {
		top: 0;
		left: 0;
		background-color: rgb(244, 244, 244);
		width: 85px;
		height: 75px;
		border-radius: 100px;
	}
}

ul:nth-child(3) > li > ul {
	position: relative;
	:nth-child(3), :nth-child(4) {
		position: absolute;
		background-color: rgb(255, 68, 0);
		width: 30px;
		aspect-ratio: 1/1;
		left: 110px;
	}

	:first-child {
		position: absolute;
		top: 10px;
		left: 50px;
		background-color: rgb(0, 0, 0);
		width: 7px;
		aspect-ratio: 1;
	}

	:nth-child(2)
	{
		background-color: rgb(255, 68, 0);
		width: 70px;
		aspect-ratio: 2/1;
		border-radius: 100px;
	}

	:nth-child(3)
	{
		border-radius: 50px 0;
		bottom: 16px;

	}
	:last-child
	{
		border-radius: 0 50px;
		top: 16px;
	}
}
