/* 😭 */
main > article > span {
    position: absolute;
    bottom: 525px;
    left: 15px;
    width: 5px;
    aspect-ratio: 1;
	font-size: 0.5vw;
    box-shadow: 
    30px 0 var(--outline-pxl), 35px 0 var(--outline-pxl),
    40px 0 var(--outline-pxl), 45px 0 var(--outline-pxl),
    25px 5px var(--outline-pxl), 30px 5px var(--highlight-pxl),
    35px 5px var(--white), 40px 5px var(--white),
    45px 5px var(--highlight-pxl), 50px 5px var(--outline-pxl),
    20px 10px var(--outline-pxl), 25px 10px var(--highlight-pxl),
    30px 10px var(--shadow-pxl), 35px 10px var(--shadow-pxl),
    40px 10px var(--shadow-pxl), 45px 10px var(--shadow-pxl),
    50px 10px var(--highlight-pxl), 55px 10px var(--outline-pxl),
    20px 15px var(--outline-pxl), 25px 15px var(--shadow-pxl),
    30px 15px var(--main-pxl), 35px 15px var(--main-pxl),
    40px 15px var(--main-pxl), 45px 15px var(--main-pxl),
    50px 15px var(--shadow-pxl), 55px 15px var(--outline-pxl),
    20px 20px var(--outline-light-pxl), 25px 20px var(--main-pxl),
    30px 20px var(--main-pxl), 35px 20px var(--main-pxl),
    40px 20px var(--main-pxl), 45px 20px var(--main-pxl),
    50px 20px var(--main-pxl), 55px 20px var(--outline-light-pxl),
    20px 25px var(--outline-light-pxl), 25px 25px var(--highlight-pxl),
    30px 25px var(--main-pxl), 35px 25px var(--main-pxl),
    40px 25px var(--main-pxl), 45px 25px var(--main-pxl),
    50px 25px var(--highlight-pxl), 55px 25px var(--outline-light-pxl),
    25px 30px var(--outline-light-pxl), 30px 30px var(--highlight-pxl),
    35px 30px var(--white), 40px 30px var(--white),
    45px 30px var(--highlight-pxl), 50px 30px var(--outline-light-pxl),
    20px 35px var(--outline-pxl), 25px 35px var(--outline-pxl),
    30px 35px var(--outline-light-pxl), 35px 35px var(--outline-light-pxl),
    40px 35px var(--outline-light-pxl), 45px 35px var(--outline-light-pxl),
    50px 35px var(--outline-pxl), 55px 35px var(--outline-pxl),
    15px 40px var(--outline-pxl), 20px 40px var(--white),
    25px 40px var(--outline-pxl), 30px 40px var(--highlight-pxl),
    35px 40px var(--white), 40px 40px var(--white),
    45px 40px var(--highlight-pxl), 50px 40px var(--outline-pxl),
    55px 40px var(--white), 60px 40px var(--outline-pxl),
    10px 45px var(--outline-pxl), 15px 45px var(--highlight-pxl),
    20px 45px var(--outline-pxl), 25px 45px var(--small-shadow-pxl),
    30px 45px var(--shadow-pxl), 35px 45px var(--highlight-pxl),
    40px 45px var(--highlight-pxl), 45px 45px var(--shadow-pxl),
    50px 45px var(--small-shadow-pxl), 55px 45px var(--outline-pxl),
    60px 45px var(--highlight-pxl), 65px 45px var(--outline-pxl),
    5px 50px var(--outline-pxl), 10px 50px var(--highlight-pxl),
    15px 50px var(--outline-pxl), 20px 50px var(--small-shadow-pxl),
    25px 50px var(--shadow-pxl), 30px 50px  var(--shadow-pxl),
    35px 50px  var(--shadow-pxl), 40px 50px  var(--shadow-pxl),
    45px 50px  var(--shadow-pxl), 50px 50px  var(--shadow-pxl),
    55px 50px var(--small-shadow-pxl), 60px 50px var(--outline-pxl),
    65px 50px var(--highlight-pxl), 70px 50px var(--outline-pxl),
    0 55px var(--outline-pxl), 5px 55px var(--highlight-pxl),
    10px 55px var(--highlight-pxl), 15px 55px var(--outline-pxl),
    20px 55px var(--shadow-pxl), 25px 55px var(--main-pxl),
    30px 55px var(--shadow-pxl), 35px 55px var(--shadow-pxl),
    40px 55px var(--shadow-pxl), 45px 55px var(--shadow-pxl),
    50px 55px var(--main-pxl), 55px 55px var(--shadow-pxl),
    60px 55px var(--outline-pxl), 65px 55px var(--highlight-pxl),
    70px 55px var(--highlight-pxl), 75px 55px var(--outline-pxl),
    0 60px var(--outline-pxl), 5px 60px var(--white),
    10px 60px var(--outline-pxl), 15px 60px var(--shadow-pxl),
    20px 60px var(--main-pxl), 25px 60px var(--main-pxl),
    30px 60px var(--main-pxl), 35px 60px var(--main-pxl),
    40px 60px var(--main-pxl), 45px 60px var(--main-pxl),
    50px 60px var(--main-pxl), 55px 60px var(--main-pxl),
    60px 60px var(--shadow-pxl), 65px 60px var(--outline-pxl),
    70px 60px var(--white), 75px 60px var(--outline-pxl),
    5px 65px var(--outline-pxl), 10px 65px var(--outline-pxl),
    15px 65px var(--highlight-pxl), 20px 65px var(--main-pxl),
    25px 65px var(--main-pxl), 30px 65px var(--main-pxl),
    35px 65px var(--main-pxl), 40px 65px var(--main-pxl),
    45px 65px var(--main-pxl), 50px 65px var(--main-pxl),
    55px 65px var(--main-pxl), 60px 65px var(--highlight-pxl),
    65px 65px var(--outline-pxl), 70px 65px var(--outline-pxl),
    10px 70px var(--outline-pxl), 15px 70px var(--highlight-pxl),
    20px 70px var(--highlight-pxl), 25px 70px var(--highlight-pxl),
    30px 70px var(--white), 35px 70px var(--white),
    40px 70px var(--white), 45px 70px var(--white),
    50px 70px var(--highlight-pxl), 55px 70px var(--highlight-pxl),
    60px 70px var(--highlight-pxl), 65px 70px var(--outline-pxl),
    15px 75px var(--outline-pxl), 20px 75px var(--outline-pxl),
    25px 75px var(--outline-pxl), 30px 75px var(--outline-pxl),
    35px 75px var(--outline-pxl), 40px 75px var(--outline-pxl),
    45px 75px var(--outline-pxl), 50px 75px var(--outline-pxl),
    55px 75px var(--outline-pxl), 60px 75px var(--outline-pxl);
}
