/**************************/
/*       Reponsive        */
/*    All mediaqueries    */
/**************************/

@media (max-width: 640px) {
	h1 {
    	font-size: 25px;
	}

	header {
		width: 400px;
	}

	details {
		width: 93px;
		right: 50px;
		height: 32px;
	}

	details > summary {
		font-size: 15px;
	}

	section {
		width: 450px;
		border-radius: 0 100px 100px 50px;
	}

	dl:not(dl dl) {
		width: 260px;
		margin: 0px 0 0px 23px;
		border-radius: 15px 15px 15px 30px;
	}

	dl:not(dl dl):after {
		width: 255px;
	}

	article > ul:nth-of-type(1) {
    	left: 268px;
	}

	section > dl > dd:nth-child(2) {
		display: none;
	}

	aside {
		left: 24%;
		width: 170px;
    	height: 70px;
		border-radius: 0 0 30px 30px;
	}

	form:nth-child(2) label:nth-child(4) {
		width: 50px;
		> div {
			width: 7px;
        	height: 7px;
		}
	}

	fieldset {
		width: 100px;
		padding: 6px;
		label {
			width: 37px;
			height: 23px;
		}
	}

	article > ul:nth-of-type(2) {
		left: 317px;
	}

	details[open] {
    	height: 160px;
	}
}


@media (max-width: 475px) {
	h1 {
    	font-size: 20px;
	}

	header {
        width: 310px;
		bottom: 165px;
    }

	section {
		height: 165px;
        width: 360px;
		border-radius: 0 100px 100px 45px;
		form:nth-child(2) {
			gap: 7px;
		}
	}

	section > section {
		grid-template-columns: 60% 42%;
	}

	dl:not(dl dl) {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;
		width: 185px;
		height: 115px;
		margin: 0 15px;
		border-radius: 15px;
	}

	 dl:not(dl dl):after {
        width: 180px;
    }

	section dl dd:nth-child(3) > dl {
		display: none;
	}

	article > ul:nth-of-type(1) {
		left: 216px;
	}

	article > ul:nth-of-type(2) {
        left: 238px;
		bottom: 130px;
	}
 
	aside {
		top: 160px;
		height: 62px;
		width: 150px;
        border-radius: 0 0 10px 10px;
	}

	aside label {
    	width: 45px;
	}

	section dl dd:nth-child(4) > dl > dd:nth-child(5) {
		display: none;
	}

	main > article > span {
    	bottom: 490px;
	}

	form:nth-child(2) label:nth-child(1) {
    	padding: 0px;
	}
}
